body{
    background-color: #f3f4f5(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.header{
    border: 2px solid black;
    background-color: white;
}
.header__menu{
    color:black;
    display: flex;
    justify-content: space-between;
}
.header__menu ul{
    display: flex;
}
.header__menu li{
    display: inherit;
}
.header__menu a{
    color: black;
    padding: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.header__menu a:hover{
    background-color: palevioletred;
    color: white;
    border-radius: 10px;
}
.container{
    width: 1000px;
    margin:0 auto;
}

.banner{
    color: black(12, 9, 238);
    background-color: rgb(255, 255, 255);
}

.banner .banner__hero{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.banner__text-hero{
    padding: 80px 0 0 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px #757575;
}
.Pasos{
    display: flex;
    margin: 0 auto;
}
.Pasos__box{
    margin: 15px;
    box-shadow:0px 1px 8px 1px palevioletred (82, 6, 6);
    border-radius: 10px;
    width: 33%;
}
.Pasos__box img{
     border-radius: 10px;
}

.Pasos__card {
    margin: 20px;
    padding: 5px;
}
.Pasos__card button{
    background-color:black;
    color:palevioletred;
    padding: 10px;
    border-radius: 10px;

}

.title{
    border-left: 6px solid black;
    background-color:white;
}

.Ingredientes{
    display: flex;
    margin: 0 auto;
}
.Ingredientes__box{
    margin: 15px;
    box-shadow: 0 px 1px 8px 2px palevioletred(148, 8, 8);
    border-radius: 10px;
    width: 50%;
}
.Ingredientes__box img{
    border-radius: 10px;
}

.Ingredientes__body{
    box-shadow: 0px -10px 10px 2px black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer{
    color: black;
    background-color: palevioletred
}